.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  background-color: #1497e1;
  color: #fdfdfd;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li,
.navbar a {
    text-decoration: none;
    color: #fdfdfd;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: 0.5em 0.8em;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #0f6ab4;
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_logo img {
  width: 40px;
  margin-right: 0.8em;
}